
<!--<div class="container my-2">
<form method="post" action="/purchase/addPurchase">
  <div class="mb-1">
    <select name="clientId" class="form-select">
      <option selected>Select a Client</option>
        <%clients.forEach(element=>{%>
      <option value="<%=element._id%>"><%=element.clientName%></option>
          <%})%>
    </select>
    </div>
    
    <div class="mb-1">
      <label for="itemDesc" class="form-label">Item Description</label>
      <input type="text" name="productDesc" class="form-control" id="itemDesc">
      <div id="itemDescHelp" class="form-text">Item Name</div>
    </div>
    <div class="mb-1">
      <label for="itemTunch" class="form-label">Item Tunch</label>
      <input type="Number" name="productTunch" class="form-control" id="itemTunch">
      <div id="itemTunchHelp" class="form-text">Melting/Purity of the Item Described in %</div>
    </div>

    <div class="mb-1">
      <label for="purchaseWeight" class="form-label">Purchase Weight</label>
      <input type="Number" name="purchaseWeight" oninput="calculate()" class="form-control" id="purchaseWeight">
      <div class="form-text">Weight of the item must be in grms</div>
    </div>
    <div class="mb-1">
      <label for="purchaseTunch" class="form-label">Purchase Tunch</label>
      <input type="Number" class="form-control" name="purchaseTunch" oninput="calculate()" id="purchaseTunch">
      <div class="form-text">Wastage + purity of the item</div>
    </div>
    <div class="mb-1">
      <label for="purchaseLabourInKg" class="form-label">Purchase Labour</label>
      <input type="Number" name="purchaseLabourPerKg"  oninput="calculate()" class="form-control" id="purchaseLabourInKg">
      <div id="itemTunchHelp" class="form-text">Purchase Labour Per Kg</div>
    </div>
    <div class="mb-1">
      <label for="purchaseSilver" class="form-label">Fine Silver</label>
      <input type="Number" name="purchaseSilver" class="form-control" id="purchaseSilver">
      <div id="itemTunchHelp" class="form-text">Fine Silver In Grms</div>
    </div>
    <div class="mb-1">
      <label for="purchaseCash" class="form-label">Labour Cash</label>
      <input type="Number" name="purchaseCash"  class="form-control" id="purchaseCash">
      <div id="itemTunchHelp" class="form-text">Fine Silver In Grms</div>
    </div>
    
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>-->



<div class="container my-2">
  <li class="list-group-item list-group-item-primary p-3">Add Purchase Form
    <button class="btn btn-sm btn-danger float-end closeForm" type="button" style="letter-spacing: 0.08rem;" onclick="closeForm('.addPurchaseDiv')">Close</button>
  </li>
</div>
<div class="container my-2">
  <!--<form method="post" action="/purchase/addPurchase">-->
  <form>  
    <fieldset class="purchaseFieldSet" disabled>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" name="date" class="form-control dateClass" id="date" required onclick="dateLimit('.dateClass')">
            <div class="form-text">Date is must for any entry</div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12">
          <div class="mb-3">
            <select  name="clientId" class="form-select d-none">
              <option value="">Select a Client</option>
                <%clients.forEach(clientElement=>{%>
              <option value="<%=clientElement._id%>"><%=clientElement.clientName%></option>
                  <%})%>
            </select>
          </div>
            <div class="form-text text-capitalize">
              <a href="/clients/addClientsForm" style="text-decoration: none;">
                client not present in the list click to add a client
              </a>
            </div>
        </div>
      </div>
      <div class="row my-2">
        
          <div class="col-md-6 col-sm-12 d-none purchaseTableDiv">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  
                    <th scope="col">#</th>
                    <th scope="col">Item Desc</th>
                    <th scope="col">tunch (%)</th>
                    <th scope="col">Weight (Grms)</th>
                    <th scope="col">Labour (/Kg)</th>
                </tr>
              </thead>
              <tbody class="purchaseProductListTableBody">
                
                <!--<tr>
                  
                  <th scope="row" class="tBodyIndex">1</th>
                  <input type="hidden" value="" name="productId">
                  <td> <button type="button" class=" text-wrap list-group-item list-group-item-action" style="font-size: small;">nakashi bartan</button></td>
                  <td><input type="number" step="any" name="purchaseTunch" min=1 max=100 style="width: 100%;"></td>
                  <td><input type="number" step="any" name="purchaseWeight" min=1 style="width: 125%;"></td>
                  <td><input type="number" step="any" min=1 name="purchaseLabour" style="width: 100%;"></td>
                
                </tr>-->
          
              </tbody>
            </table>
          </div>
          <div class="col-md-6 col-sm-12 my-3 d-none purchaseProductFinalAmount">
            <div class="input-group mb-3">
              <span class="input-group-text">Net Weight</span>
              <input readonly required type="number" step="any" name="netWeight" class="form-control" aria-label="net weight">
              <span class="input-group-text">Grms</span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Fine Bullion</span>
              <input readonly required type="number" step="any" name="purchaseSilver" class="form-control" aria-label="fine silver">
              <span class="input-group-text">Grms</span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Labour Cash</span>
              <input readonly required type="number" step="any" name="purchaseCash" class="form-control" aria-label="net labour">
              <span class="input-group-text">Rs.</span>
            </div>
          </div>
          <!-- Button trigger modal for product list-->
          <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#productListInPurchaseForm">
            Add Product To Purchase List
          </button>
        
        
      </div>
      <!--<div class="row">
        <div class="col-6">
          <div class="mb-1">
            <label for="purchaseWeight" class="form-label">Purchase Weight</label>
            <input type="Number" step="any" name="purchaseWeight" oninput="calculate()" class="form-control" id="purchaseWeight" required>
            <div class="form-text">Weight of the item must be in grms</div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-1">
            <label for="purchaseSilver" class="form-label">Fine Silver</label>
            <input type="Number" name="purchaseSilver" class="form-control" id="purchaseSilver" readonly>
            <div id="itemTunchHelp" class="form-text">Fine Silver In Grms</div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-1">
            <label for="purchaseTunch" class="form-label">Purchase Tunch</label>
            <input type="Number" step="any" class="form-control" name="purchaseTunch" oninput="calculate()" id="purchaseTunch" required>
            <div class="form-text">Wastage + purity of the item in %</div>
          </div>
        </div>  
        <div class="col-6">
          <div class="mb-1">
            <label for="purchaseCash" class="form-label">Labour Cash</label>
            <input type="Number" name="purchaseCash"  class="form-control" id="purchaseCash" readonly>
            <div id="itemTunchHelp" class="form-text">Fine Silver In Grms</div>
          </div>
        </div> 
          
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-1">
            <label for="purchaseLabourInKg" class="form-label">Purchase Labour</label>
            <input type="Number" step="any" name="purchaseLabourPerKg" required oninput="calculate()" class="form-control" id="purchaseLabourInKg">
            <div id="itemTunchHelp" class="form-text">Purchase Labour Per Kg</div>
          </div>
        </div> 
        
        
      </div>-->
      <div class="col-12 my-2 p-2 formActionBtn">
        <button disabled type="button" class="btn btn-primary btn-sm p-2 mx-2 submitForm" style="letter-spacing: 0.08rem;" onclick="purchasePostData('.addPurchaseDiv')">Submit</button>
        <button disabled type="reset" class="btn btn-whte p-2 btn-sm mx-2 resetForm float-end" style="letter-spacing: 0.08rem;">Reset</button>
        <button disabled type="button" class="btn btn-danger btn-sm mx-2 p-2 float-end closeForm" style="letter-spacing: 0.08rem;" onclick="closeForm('.addPurchaseDiv')">Close</button>
      </div>
    
    </fieldset>
  </form>
</div>  


<!-- Modal product list -->
<div class="modal fade" id="productListInPurchaseForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%- include('productList.ejs')%>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add Product To List</button>
        <span class="text-capitalize text-info" style="font-size: small;">Click To add product if not present in the list</span>
      </div>
    </div>
  </div>
</div>

<!--modal for product details-->

<div class="modal fade" id="productDetailsModal" tabindex="-1" aria-labelledby="productDetailsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productDetailsLabel">Product Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <li class="list-group-item list-group-item-light my-2">
            Item Name: <span class="mx-2 fw-bold appendHere"></span><br>
            Item Tunch: <span class="mx-2 fw-bold appendHere"></span>
          </li>
          <button class="btn btn-sm btn-secondary p-2" type="button" data-bs-toggle="collapse" data-bs-target="#productDetailsCollapse" aria-expanded="false" aria-controls="productDetailsCollapse">
            More Info
          </button>
        
          <div class="collapse my-2" id="productDetailsCollapse">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-white text-danger removeBtn" onclick="removeProduct(event)">Remove Product</button>
      </div>
    </div>
  </div>
</div>

