
<div class="container my-2">
    <li class="list-group-item list-group-item-primary">Payment Form</li>
</div>
<div class="container my-2" style="font-size: smaller; line-height: 1.5rem; letter-spacing: 0.08rem;">
    <li class="list-group-item list-group-item-light">Select The Type Of Payment</li>
</div>
<div class="container my-2">
    <div class="form-check my-2">
        <input class="form-check-input" type="radio" name="paymentType" id="debitPaymentId" value="debitPayment" oninput="selectFormType()">
        <label class="form-check-label" for="debitPaymentId">
        Debit- Payment 
            <span class="text-info" style="font-size: smaller; line-height: 1.5rem; letter-spacing: 0.08rem;">
                (select this option when payment is paid to client)
            </span>
        </label>
    </div>
    <div class="form-check my-2">
        <input class="form-check-input" type="radio" name="paymentType" id="creditPaymentId" value="creditPayment" oninput="selectFormType()">
        <label class="form-check-label" for="creditPaymentId">
        Credit- Payment
             <span class="text-info" style="font-size: smaller; line-height: 1.5rem; letter-spacing: 0.08rem;">
                 (select this option when payment is received from client)
                </span>
        </label>
    </div>
    
</div>
<div class="container my-2">
    <li class="list-group-item list-group-item-light" style="font-size: smaller; line-height: 1.5rem; letter-spacing: 0.08rem;">Select Payment Category</li>
</div>

<div class="container my-2">
    <div class="form-check my-2">
        <input class="form-check-input" type="radio" name="paymentCategory" id="bullionPaymentId" value="bullionPayment" oninput="selectFormType()">
        <label class="form-check-label" for="bullionPaymentId">
        Bullion Payment 
            <span class="text-info" style="font-size: smaller; line-height: 1.5rem; letter-spacing: 0.08rem;">
                (Select this when bullion is used as payment)
            </span>
        </label>
    </div>
    <div class="form-check my-2">
        <input class="form-check-input" type="radio" name="paymentCategory" id="productPaymentId" value="productPayment" oninput="selectFormType()">
        <label class="form-check-label" for="productPaymentId">
        Product Payment
            <span class="text-info" style="font-size: smaller; line-height: 1.5rem; letter-spacing: 0.08rem;">
                (select this option when product is being used for payment)
            </span>
        </label>
    </div>
    <div class="form-check my-2">
        <input class="form-check-input" type="radio" name="paymentCategory" id="cashPaymentId" value="cashPayment" oninput="selectFormType()">
        <label class="form-check-label" for="cashPaymentId">
        Cash Payment
            <span class="text-info" style="font-size: smaller; line-height: 1.5rem; letter-spacing: 0.08rem;">
                (select this option when cash is being used for payment)
            </span>
        </label>
    </div>
    <!--<div class="form-check my-2">
        <input class="form-check-input" type="radio" name="paymentCategory" id="dualPaymentId" value="cashBullionPayment" oninput="selectFormType()">
        <label class="form-check-label" for="dualPaymentId">
        Cash/Bullion Payment 
            <span class="text-info" style="font-size: smaller; line-height: 1.5rem; letter-spacing: 0.08rem;">
                (select this option when bullion & cash is being used for payment)
            </span>
        </label>
    </div>--><hr>
</div>


<!--form for debit bullion-->
<div class="container my-2 d-none" id="debitBullion">
<form method="POST" action="/payment/addPayment" >
<div class="container my-2" >
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="paymentTypeDebitBullion">Payment Type</span>
                <input readonly type="text" name="paymentType" class="form-control text-danger" value="Debit (paying to client)" aria-label="paymentTypeDebitBullion" aria-describedby="paymentTypeDebitBullion">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="paymentCategoryDebitBullion">Payment Category</span>
                <input readonly type="text" name="paymentCategory" class="form-control text-info" value="Bullion" aria-label="paymentCategoryDebitBullion" aria-describedby="paymentCategoryDebitBullion">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="date">Date</span>
                <input required type="date" class="form-control" name="date" placeholder="date" aria-label="date" aria-describedby="date">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <label class="input-group-text" for="selectClient">Select Client</label>
                <select required class="form-select" name="clientId" id="selectClient">
                  <option selected >Select Client..</option>
                  <%clientElement.forEach(element=>{ %>
                  <option value="<%=element._id%>"><%=element.clientName%></option>
                  <%})%>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="input-group flex-nowrap my-2">
                <span class="input-group-text" id="debitBullionWeightSpan"> Weight(Grms)</span>
                <input required id="debitBullionWeight" type="Number" step="any" name="weight" class="form-control" placeholder="*weight in grms" aria-label="bullion-debit-weight" aria-describedby="debitBullionWeightSpan">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group flex-nowrap my-2">
                <span class="input-group-text" id="debitBullionTunchSpan"> Tunch(%)</span>
                <input required id="debitBullionTunch" type="Number" step="any" name="tunch" class="form-control" placeholder="tunch/purity" aria-label="debit-bullion-tunch" aria-describedby="debitBullionTunchSpan" oninput="formCalculation()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="input-group flex-nowrap my-2">
                <span class="input-group-text" id="fineSilverDebit">Fine Silver Debited(Grms)</span>
                <input readonly name="fineSilver" id="fineSilverDebitBullion" type="Number" step="any" class="form-control text-success" placeholder=" silver debited" aria-label="fine silver debited" aria-describedby="fineSilverDebit">
            </div>
        </div>
    </div>
</div>
<div class="container my-2 p-2">
    <button class="btn btn-primary" type="submit">Add Payment</button>
</div>
</form>
</div>
<!--form for debit bullion ends-->
<!--form for credit bullion-->
<div class="container my-2 d-none" id="creditBullion">
    <form method="POST" action="/payment/addPayment" >
    <div class="container my-2" >
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentTypeCreditBullion">Payment Type</span>
                    <input readonly type="text" name="paymentType" class="form-control text-danger" value="Credit (received from Client)" aria-label="paymentTypeDebitBullion" aria-describedby="paymentTypeDebitBullion">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentCategoryCreditBullion">Payment Category</span>
                    <input readonly type="text" name="paymentCategory" class="form-control text-info" value="Bullion" aria-label="paymentCategoryDebitBullion" aria-describedby="paymentCategoryDebitBullion">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="date">Date</span>
                    <input required type="date" class="form-control" name="date" placeholder="date" aria-label="date" aria-describedby="date">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="selectClient">Select Client</label>
                    <select required class="form-select" name="clientId" id="selectClient">
                        <option selected >Select Client..</option>
                        <%clientElement.forEach(element=>{ %>
                        <option value="<%=element._id%>"><%=element.clientName%></option>
                        <%})%>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="creditBullionWeightSpan"> Weight(Grms)</span>
                    <input required id="creditBullionWeight" type="Number" step="any" name="weight" class="form-control" placeholder="*weight in grms" aria-label="bullion-credit-weight" aria-describedby="creditBullionWeightSpan">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="creditBullionTunchSpan"> Tunch(%)</span>
                    <input required id="creditBullionTunch" type="Number" step="any" name="tunch" class="form-control" placeholder="tunch/purity" aria-label="credit-bullion-tunch" aria-describedby="creditBullionTunchSpan" oninput="formCalculation()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="fineSilverCreditSpan">Fine Silver credited(Grms)</span>
                    <input readonly id="fineSilverCreditBullion" name="fineSilver" type="Number" step="any" class="form-control text-success" placeholder=" silver credited" aria-label="fine silver cedited" aria-describedby="fineSilverCreditSpan">
                </div>
            </div>
        </div>
    </div>
    <div class="container my-2 p-2">
        <button class="btn btn-primary" type="submit">Add Payment</button>
    </div>
    </form>
</div>

<!--form for credit bullion ends -->
<!--form for debit product-->
<div class="container my-2 d-none" id="debitProduct">
    <form method="POST" action="/payment/addPayment" >
    <div class="container my-2" >
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentTypeCreditBullion">Payment Type</span>
                    <input readonly type="text" name="paymentType" class="form-control text-danger" value="Debit (paying to client)" aria-label="paymentTypeDebitBullion" aria-describedby="paymentTypeDebitBullion">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentCategoryCreditBullion">Payment Category</span>
                    <input readonly type="text" name="paymentCategory" class="form-control text-info" value="Product" aria-label="paymentCategoryDebitBullion" aria-describedby="paymentCategoryDebitBullion">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="date">Date</span>
                    <input required type="date" class="form-control" name="date" placeholder="date" aria-label="date" aria-describedby="date">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="selectClient">Select Client</label>
                    <select required class="form-select" name="clientId" id="selectClient">
                        <option selected >Select Client..</option>
                        <%clientElement.forEach(element=>{ %>
                        <option value="<%=element._id%>"><%=element.clientName%></option>
                        <%})%>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="productSelector">Select Product</label>
                    <select required class="form-select" name="productId" id="productSelector" onchange="getTunch(event)">
                        <option selected >Select Product..</option>
                        <% productElement.forEach(element=>{ %>
                        <option value="<%=element._id%>"><%=element.productDesc%></option>
                        <%})%>
                    </select>
                </div>
            </div>  
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="productTunch">Product Tunch(%)</span>
                    <input readonly type="Number" id="productTunchDebit" name="tunch" value="" step="any" class="form-control" aria-label="product-tunch" aria-describedby="productTunch">
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="productWeightSpan"> Weight(Grms)</span>
                    <input required id="productWeightDebit" type="Number" step="any" name="weight" class="form-control" placeholder="*weight in grms" aria-label="product weight" aria-describedby="productWeightSpan" onfocus="formCalculation()">
                </div>
                <span class="text-danger text-capitalize" id="debitProductSpanErrorMsg" style="font-size:smaller;"></span>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="fineSilverDebit">Fine Silver Debited(Grms)</span>
                    <input readonly id="fineSilverDebitProduct" type="Number" name="fineSilver" step="any" class="form-control text-success" placeholder="fine silver credited" aria-label="fine silver debited" aria-describedby="fineSilverDebit">
                </div>
            </div>
        </div>
    </div>
    <div class="container my-2 p-2">
        <button class="btn btn-primary" type="submit">Add Payment</button>
    </div>
    </form>
</div>

<!--form for debit product ends -->
<!--form for credit product--><!--credit product needs a review as we need to add a further info abt if the
credit product is inteneded to store in stock purchase or should be melted away ....review required-->
<div class="container my-2 d-none" id="creditProduct">
    <form method="POST" action="/payment/addPayment" >
    <div class="container my-2" >
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentTypeCreditBullion">Payment Type</span>
                    <input readonly type="text" name="paymentType" class="form-control text-danger" value="Credit (receiving frm client)" aria-label="paymentTypeDebitBullion" aria-describedby="paymentTypeDebitBullion">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentCategoryCreditBullion">Payment Category</span>
                    <input readonly type="text" name="paymentCategory" class="form-control text-info" value="Product" aria-label="paymentCategoryDebitBullion" aria-describedby="paymentCategoryDebitBullion">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="date">Date</span>
                    <input required type="date" class="form-control" name="date" placeholder="date" aria-label="date" aria-describedby="date">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="selectClient">Select Client</label>
                    <select required class="form-select" name="clientId" id="selectClient">
                        <option selected >Select Client..</option>
                        <%clientElement.forEach(element=>{ %>
                        <option value="<%=element._id%>"><%=element.clientName%></option>
                        <%})%>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12"><!--action div for product credit -->
                <div class="form-check" id="checkProductCreditAddToStock"><!--radio condition check for stock management-->
                    <input class="form-check-input" type="radio" name="checkProductCreditAddToStock" id="checkRadioProductCredit" oninput="selectFormType()">
                    <label class="form-check-label" for="checkRadioProductCredit">
                      Add The Product To Stock
                        <span class="text-info text-capitalize" style="font-size: smaller;">
                            (select if you wish to add the product to your extra stock list.
                            else you can leave it as product-bullion stock.)
                        </span>
                    </label>
                </div>
                <div class="input-group mb-3 d-none" id="productCreditAddToStock">
                    <span class="input-group-text" id="productDesc">Item Name</span>
                    <input type="text" name="productDesc" class="form-control" placeholder="Product Desc" aria-label="productDEsc" aria-describedby="productDesc">
                </div>
            </div>  
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="productTunch">Product Tunch(%)</span>
                    <input type="Number" id="productTunchCredit" name="tunch" step="any" class="form-control" aria-label="product-tunch" aria-describedby="productTunch" oninput="formCalculation()">
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="productWeight"> Weight(Grms)</span>
                    <input required type="Number" id="productWeightCredit" step="any" name="weight" class="form-control" placeholder="*weight in grms" aria-label="product weight" aria-describedby="productWeight" oninput="formCalculation()">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="fineSilverCreditSpan">Fine Silver Credited(Grms)</span>
                    <input readonly type="Number" id="fineSilverCredit" name="fineSilver" step="any" class="form-control text-success" placeholder="fine silver credited" aria-label="fine silver debited" aria-describedby="fineSilverCreditSpan">
                </div>
            </div>
        </div>
    </div>
    <div class="container my-2 p-2">
        <button class="btn btn-primary" type="submit">Add Payment</button>
    </div>
    </form>
</div>

<!--form for credit product ends here-->

<!--form for debit cash payment-->
<div class="container my-2 d-none " id="debitCash">
    <form method="POST" action="/payment/addPayment" >
    <div class="container my-2" >
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentTypeDebitCash">Payment Type</span>
                    <input readonly type="text" name="paymentType" class="form-control text-danger" value="Debit (paying to client)" aria-label="paymentTypeDebitCash" aria-describedby="paymentTypeDebitCash">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentCategoryDebitCash">Payment Category</span>
                    <input readonly type="text" name="paymentCategory" class="form-control text-info" value="Cash" aria-label="paymentCategoryDebitCash" aria-describedby="paymentCategoryDebitCash">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="date">Date</span>
                    <input required type="date" class="form-control" name="date" placeholder="date" aria-label="date" aria-describedby="date">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="selectClient">Select Client</label>
                    <select required class="form-select" name="clientId" id="selectClient">
                        <option selected >Select Client..</option>
                        <%clientElement.forEach(element=>{ %>
                        <option value="<%=element._id%>"><%=element.clientName%></option>
                        <%})%>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="debitCashAmountSpan">Debit cash amt</span>
                    <input type="Number" name="cashAmount" value=" " step="any" class="form-control" aria-label="debit cash" aria-describedby="debitCashAmountSpan">
                    <span class="input-group-text" id="debitCashAmountSpan1">Rupee</span>
                </div>
            </div>  
            <div class="col-md-6 col-sm-12">
                <div class="form-check" id="checkBhawCashAmountDebit"><!--radio check-->
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkBhawCashAmountSpanDebit" oninput="selectFormType()">
                    <label class="form-check-label" for="checkBhawCashAmountDebit">
                        <span style="font-size: smaller;letter-spacing: 0.06rem;" class="text-info lh-lg text-capitalize">
                            select if you have agreed for a bhaw purchase(silver rate) for the debited amount with 
                            the client you are paying.
                        </span>
                    </label>
                </div>
                <div class="input-group flex-nowrap my-2 d-none bhawCashAmountDebit" >
                    <span class="input-group-text" id="bhawCashAmountSpan">Silver Rate</span>
                    <input type="Number" step="any" name="silverRate" value="0" step="any" class="form-control" aria-label="product-tunch" aria-describedby="bhawCashAmountSpan">
                    <span class="input-group-text" id="bhawCashAmountSpan">/Kg</span>
                </div>
            </div> 
        </div>
        <div class="row bhawCashAmountDebit d-none">
            <div class="col-md-6 col-sm-12"> 
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="bhawfineSilver">Fine Silver</span>
                    <input readonly type="Number" name="silverRateFineSilver" step="any" class="form-control text-success" placeholder="fine silver" aria-label="fine silver" aria-describedby="fineSilver">
                    <span class="input-group-text" id="productWeight1">Grms</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="cash" name="paymentMode" id="paymentModeCash">
                    <label class="form-check-label" for="paymentModeCash">
                      <span class="text-info lh-lg text-capitalize" style="font-size: smaller;letter-spacing: 0.08rem;">Select when cash is paid in person.</span>
                    </label><br>
                    <span class="text-success lh-lg text-capitalize" style="font-size: smaller;letter-spacing: 0.06rem;">
                        If the payment is part cash in hand and part cash in bank please select the checkbox and one
                        of the radio circles, for better analysis.
                    </span>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="radio" value="rtgs" name="paymentMode" id="paymentModeRTGS" oninput="selectFormType()">
                    <label class="form-check-label" for="paymentModeRTGS">
                      <span class="text-capitalize text-info lh-lg" style="font-size: smaller;letter-spacing: 0.06rem;">Select when payment is paid through RTGS/NEFT/UPI</span>
                    </label>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="radio" value="cash" name="paymentMode" id="paymentModeCheque" oninput="selectFormType()">
                    <label class="form-check-label" for="paymentModeCheque">
                      <span class="text-capitalize text-info lh-lg" style="font-size: smaller;letter-spacing: 0.06rem;">Select when payment is paid through cheque</span>
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 d-none"  id="paymentModeInfoDebit">
                <span class="text-capitalize text-success" style="font-size: smaller;letter-spacing: 0.03rem;">
                    *this section of entry is purely optional and can be left blank, but filling it will help you manage 
                    your business more efficiently
                </span>
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="bankInfo">Name Of Bank</span>
                    <input type="text" value="" name="bankInfo" class="form-control" placeholder="name of bank" aria-label="bank info" aria-describedby="bankInfo">
                </div>
                <div class="input-group flex-nowrap my-2">  
                    <span class="input-group-text" id="bankTransactionId">Transaction Id</span>
                    <input type="text" value="" name="fineSilver" class="form-control text-success" placeholder="trsactn id/chq No." aria-label="bank Transaction Id" aria-describedby="bankTransactionId">
                </div>
            </div>
        </div>
    </div>
    <div class="container my-2 p-2">
        <button class="btn btn-primary" type="submit">Add Payment</button>
    </div>
    </form>
</div>

<!--form for debit cash ends -->
<!--form for credit cash-->
<div class="container my-2 d-none " id="creditCash">
    <form method="POST" action="/payment/addPayment" >
    <div class="container my-2" >
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentTypeCreditCash">Payment Type</span>
                    <input readonly type="text" name="paymentType" class="form-control text-danger" value="Credit (receiving from client)" aria-label="paymentTypeCreditCash" aria-describedby="paymentTypeCreditCash">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="paymentCategoryCreditCash">Payment Category</span>
                    <input readonly type="text" name="paymentCategory" class="form-control text-info" value="Cash" aria-label="paymentCategoryCreditCash" aria-describedby="paymentCategoryCreditCash">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="date">Date</span>
                    <input required type="date" class="form-control" name="date" placeholder="date" aria-label="date" aria-describedby="date">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="selectClient">Select Client</label>
                    <select required class="form-select" name="clientId" id="selectClient">
                        <option selected >Select Client..</option>
                        <%clientElement.forEach(element=>{ %>
                        <option value="<%=element._id%>"><%=element.clientName%></option>
                        <%})%>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="creditCashAmountSpan">Credit cash amt</span>
                    <input required type="Number" name="cashAmount" value=" " step="any" class="form-control" aria-label="credit cash" aria-describedby="creditCashAmountSpan">
                    <span class="input-group-text" id="creditCashAmountSpan1">Rupee</span>
                </div>
            </div>  
            <div class="col-md-6 col-sm-12">
                <div class="form-check" id="checkBhawCashAmountCredit"><!--radio check-->
                    <input class="form-check-input" type="radio" name="checkBhawCashAmountRadio" id="checkBhawCashAmountSpanCredit" oninput="selectFormType()">
                    <label class="form-check-label" for="checkBhawCashAmountSpanCredit">
                        <span style="font-size: smaller;letter-spacing: 0.06rem;" class="text-info lh-lg text-capitalize">
                            select if you have agreed for a bhaw purchase(silver rate) for the credited amount with 
                            the client.and you intend to purchase silver with it
                        </span>
                    </label>
                </div>
                <div class="input-group flex-nowrap my-2 d-none bhawCashAmountCredit" >
                    <span class="input-group-text" id="bhawCashAmountSpan">Silver Rate</span>
                    <input type="Number" step="any" name="silverRate" value="0" step="any" class="form-control" aria-label="product-tunch" aria-describedby="bhawCashAmountSpan">
                    <span class="input-group-text" id="bhawCashAmountSpan">/Kg</span>
                </div>
            </div> 
        </div>
        <div class="row bhawCashAmountCredit d-none">
            <div class="col-md-6 col-sm-12"> 
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="bhawfineSilver">Fine Silver</span>
                    <input readonly type="Number" name="silverRateFineSilver" step="any" class="form-control text-success" placeholder="fine silver" aria-label="fine silver" aria-describedby="fineSilver">
                    <span class="input-group-text" id="productWeight1">Grms</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-group flex-nowrap my-2">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="cash" name="paymentMode" id="paymentModeCash">
                    <label class="form-check-label" for="paymentModeCash">
                      <span class="text-info lh-lg text-capitalize" style="font-size: smaller;letter-spacing: 0.08rem;">Select when cash is paid in person.</span>
                    </label><br>
                    <span class="text-success lh-lg text-capitalize" style="font-size: smaller;letter-spacing: 0.06rem;">
                        If the payment is part cash in hand and part cash in bank please select the checkbox and one
                        of the radio circles, for better analysis.
                    </span>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="radio" value="rtgs" name="paymentMode" id="paymentModeRTGSCredit" oninput="selectFormType()">
                    <label class="form-check-label" for="paymentModeRTGSCredit">
                      <span class="text-capitalize text-info lh-lg" style="font-size: smaller;letter-spacing: 0.06rem;">Select when payment is paid through RTGS/NEFT/UPI</span>
                    </label>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="radio" value="cash" name="paymentMode" id="paymentModeChequeCredit" oninput="selectFormType()">
                    <label class="form-check-label" for="paymentModeChequeCredit">
                      <span class="text-capitalize text-info lh-lg" style="font-size: smaller;letter-spacing: 0.06rem;">Select when payment is paid through cheque</span>
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 d-none"  id="paymentModeInfoCredit">
                <span class="text-capitalize text-success" style="font-size: smaller;letter-spacing: 0.03rem;">
                    *this section of entry is purely optional and can be left blank, but filling it will help you manage 
                    your business more efficiently
                </span>
                <div class="input-group flex-nowrap my-2">
                    <span class="input-group-text" id="bankInfo">Name Of Bank</span>
                    <input type="text" value="" name="bankInfo" class="form-control" placeholder="name of bank" aria-label="bank info" aria-describedby="bankInfo">
                </div>
                <div class="input-group flex-nowrap my-2">  
                    <span class="input-group-text" id="bankTransactionId">Transaction Id</span>
                    <input type="text" value="" name="fineSilver" class="form-control text-success" placeholder="trsactn id/chq No." aria-label="bank Transaction Id" aria-describedby="bankTransactionId">
                </div>
            </div>
        </div>
    </div>
    <div class="container my-2 p-2">
        <button class="btn btn-primary" type="submit">Add Payment</button>
    </div>
    </form>
</div>


<!--form for credit cash ends -->






<!--js script-->
<script type="text/javascript" src="/addPaymentFormJS.js"></script>