
<!--<div class="container my-2">
<form method="post" action="/purchase/addPurchase">
  <div class="mb-1">
    <select name="clientId" class="form-select">
      <option selected>Select a Client</option>
        <%clients.forEach(element=>{%>
      <option value="<%=element._id%>"><%=element.clientName%></option>
          <%})%>
    </select>
    </div>
    
    <div class="mb-1">
      <label for="itemDesc" class="form-label">Item Description</label>
      <input type="text" name="productDesc" class="form-control" id="itemDesc">
      <div id="itemDescHelp" class="form-text">Item Name</div>
    </div>
    <div class="mb-1">
      <label for="itemTunch" class="form-label">Item Tunch</label>
      <input type="Number" name="productTunch" class="form-control" id="itemTunch">
      <div id="itemTunchHelp" class="form-text">Melting/Purity of the Item Described in %</div>
    </div>

    <div class="mb-1">
      <label for="purchaseWeight" class="form-label">Purchase Weight</label>
      <input type="Number" name="purchaseWeight" oninput="calculate()" class="form-control" id="purchaseWeight">
      <div class="form-text">Weight of the item must be in grms</div>
    </div>
    <div class="mb-1">
      <label for="purchaseTunch" class="form-label">Purchase Tunch</label>
      <input type="Number" class="form-control" name="purchaseTunch" oninput="calculate()" id="purchaseTunch">
      <div class="form-text">Wastage + purity of the item</div>
    </div>
    <div class="mb-1">
      <label for="purchaseLabourInKg" class="form-label">Purchase Labour</label>
      <input type="Number" name="purchaseLabourPerKg"  oninput="calculate()" class="form-control" id="purchaseLabourInKg">
      <div id="itemTunchHelp" class="form-text">Purchase Labour Per Kg</div>
    </div>
    <div class="mb-1">
      <label for="purchaseSilver" class="form-label">Fine Silver</label>
      <input type="Number" name="purchaseSilver" class="form-control" id="purchaseSilver">
      <div id="itemTunchHelp" class="form-text">Fine Silver In Grms</div>
    </div>
    <div class="mb-1">
      <label for="purchaseCash" class="form-label">Labour Cash</label>
      <input type="Number" name="purchaseCash"  class="form-control" id="purchaseCash">
      <div id="itemTunchHelp" class="form-text">Fine Silver In Grms</div>
    </div>
    
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>-->



<div class="container my-2">
  <li class="list-group-item list-group-item-primary">Add Purchase Form</li>
</div>
<div class="container my-2">
  <form method="post" action="/purchase/addPurchase">
    <div class="row">
      <div class="col-6">
        <div class="mb-1">
          <label for="date" class="form-label">Date</label>
          <input type="date" step="any" name="date" class="form-control" id="date" required>
          <div class="form-text">Date is must for any entry</div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
      <div class="mb-1">
        <select name="clientId" class="form-select">
          <option selected>Select a Client</option>
            <%clients.forEach(clientElement=>{%>
          <option value="<%=clientElement._id%>"><%=clientElement.clientName%></option>
              <%})%>
        </select>
        </div>
        <div class="form-text text-capitalize">
          <a href="/clients/addClientsForm" style="text-decoration: none;">
            client not present in the list click to add a client
          </a>
        </div>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-12">
      <div class="mb-1">
        <select class="form-select" name="productId" aria-label="Default select example">
          <option selected>Select a Item</option>
          <% products.forEach((productElement)=>{%>
          <option value="<%=productElement._id%>">
            <span class="mx-2"><%=productElement.productDesc%></span>
            <span class="mx-2 text-muted">-----Tunch: <%=productElement.productTunch%> %</span>
          </option>
          <%})%>
        </select>
        <div id="itemDescHelp" class="form-text">Item Name</div>
        <div class="form-text text-capitalize">
          <a href="/products/addProductsForm" style="text-decoration: none;">Item not present in the list click to add an item</a>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-6">
      <div class="mb-1">
        <label for="purchaseWeight" class="form-label">Purchase Weight</label>
        <input type="Number" step="any" name="purchaseWeight" oninput="calculate()" class="form-control" id="purchaseWeight" required>
        <div class="form-text">Weight of the item must be in grms</div>
      </div>
    </div>
    <div class="col-6">
      <div class="mb-1">
        <label for="purchaseSilver" class="form-label">Fine Silver</label>
        <input type="Number" name="purchaseSilver" class="form-control" id="purchaseSilver" readonly>
        <div id="itemTunchHelp" class="form-text">Fine Silver In Grms</div>
      </div>
    </div>
     
  </div>
  <div class="row">
    <div class="col-6">
      <div class="mb-1">
        <label for="purchaseTunch" class="form-label">Purchase Tunch</label>
        <input type="Number" step="any" class="form-control" name="purchaseTunch" oninput="calculate()" id="purchaseTunch" required>
        <div class="form-text">Wastage + purity of the item in %</div>
      </div>
    </div>  
    <div class="col-6">
      <div class="mb-1">
        <label for="purchaseCash" class="form-label">Labour Cash</label>
        <input type="Number" name="purchaseCash"  class="form-control" id="purchaseCash" readonly>
        <div id="itemTunchHelp" class="form-text">Fine Silver In Grms</div>
      </div>
    </div> 
      
  </div>
  <div class="row">
    <div class="col-6">
      <div class="mb-1">
        <label for="purchaseLabourInKg" class="form-label">Purchase Labour</label>
        <input type="Number" step="any" name="purchaseLabourPerKg" required oninput="calculate()" class="form-control" id="purchaseLabourInKg">
        <div id="itemTunchHelp" class="form-text">Purchase Labour Per Kg</div>
      </div>
    </div> 
    
    
  </div>
  <div class="col-12 my-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  
</form>
</div>

<script type="text/javascript" src="/addPurchaseFormJS.js"></script>