<div class="container my-2 border-primary border-1 border-bottom">
    <div class="row">
        <div class="col-6 p-2 border-end border-primary">
            <button class="btn btn-sm btn-success btn-active purchase" type="button" onclick="changePage(event)">Purchase Transaction</button>
        </div>
        <div class="col-6 p-2">
            <button class="btn btn-sm btn-white btn-inactive sales" type="button" onclick="changePage(event)">Sales Transaction</button>
        </div>
    </div>
</div>

<div class="container my-3 p-3 purchaseTransaction">
    <div class="purchaseNavTab">
        <button type="button" class="btn btn-secondary btn-sm mx-2 addPurchaseBtn" onclick="formControl(event)">
            Add Purchase Transaction
        </button>
    </div>
    <div class="addPurchaseDiv d-none my-2 p-2 border-1 border-secondary border">      
        <%- include('partials/addPurchaseForm.ejs')%>
        
    </div>
    <div class="formSubmitMsg d-none text-success fw-bold text-capitalize my-2 p-2 border-1 border-secondary border">
        <div class="formSubmitMsg-msg"></div>
        <button class="btn btn-sm btn-white text-danger m-2 p-2" onclick="uiControlOfMsgDiv(event)">Close</button>

    </div>
    <div class="purchaseMetadata p-2 my-2">
        <table class="table table-success metadataViewPurchaseTable table-striped">
            <thead>
                <tr>
                    <td scope="col">Total Purchase Of The Day</td>
                    <td scope="col">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-success dropdown-toggle" type="button" id="purchaseDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Total Purchase
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="purchaseDropdownMenuButton">
                                <li onclick="metadataView(event)" class="purchase weekly"><a role="button" class="dropdown-item">Weekly Purchase</a></li>
                                <li onclick="metadataView(event)" class="purchase monthly"><a role="button" class="dropdown-item">Monthly Purchase</a></li>
                                <li onclick="metadataView(event)" class="purchase yearly"><a role="button" class="dropdown-item">Yearly Purchase</a></li>
                                <li onclick="metadataView(event)" class="purchase total"><a role="button" class="dropdown-item">Total Purchase</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%let purchaseToday=0; purchase.forEach(purchaseData=>{let purchaseDate= new Date(purchaseData.date);let today= new Date()%>
                            <%if (parseInt(new Date().getTime()-new Date(purchaseData.date).getTime())/(1000*3600*24)<=1){%>
                                <%purchaseToday+=purchaseData.purchaseSilver%>
                            <%}%>
                            <%})%>
                            <span class="fw-bold text-success mx-2"><%=Math.round(purchaseToday)%></span> Grms
                    </td> 
                    <td>    
                        <% let purchaseWeekly=0;let purchaseMonthly=0;let purchaseYearly=0;let purchaseTotal=0%>
                        <%purchase.forEach(purchaseData=>{%>
                            <%purchaseTotal+=purchaseData.purchaseSilver%>
                            <% let days = parseInt((new Date().getTime()-new Date(purchaseData.date).getTime())/(1000*3600*24))%>
                            <%if(days<8){%>
                                <%purchaseWeekly+=purchaseData.purchaseSilver%> <%}%>
                                <%if(days<32){%>
                                    <%purchaseMonthly+=purchaseData.purchaseSilver}%>
                                <%if(days<367){%>
                                    <%purchaseYearly+=purchaseData.purchaseSilver}%>
                            <%})%>
                           <span class="fw-bold text-success mx-2 weeklyPurchase d-none"><%=Math.round(purchaseWeekly/1000)%> Kgs</span> 
                           <span class="fw-bold text-success mx-2 monthlyPurchase d-none"><%=Math.round(purchaseMonthly/1000)%> Kgs</span> 
                           <span class="fw-bold text-success mx-2 yearlyPurchase d-none"><%=Math.round(purchaseYearly/1000)%> Kgs</span> 
                           <span class="fw-bold text-success mx-2 totalPurchase"><%=Math.round(purchaseTotal/1000)%> Kgs</span> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-sm btn-success purchaseTransactionView" type="button" data-bs-toggle="collapse" data-bs-target="#viewPurchaseTransactionId" aria-expanded="false" aria-controls="viewPurchaseTransaction">
                            View Transaction
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="viewPurchaseTransaction my-1 p-1 container">
        <%- include('partials/viewPurchaseTransaction.ejs')%>
    </div>
    <div class="container my-1">
        <table class="table table-striped table-success">
            <thead>
              <tr>
                <th scope="col">Top Purchase Of The Day</th>
                <th scope="col">
                    <div class="dropdown">
                    <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <%let month = new Date().getMonth()%>
                        <% let monthArray = ['January','Feburay','March','April','May','June','July','August','September','October','November','December']%>
                        <%=monthArray[month]%>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <% monthArray.forEach(array=>{%>
                            <li><a role="button" class="dropdown-item" href="#"><%=array%></a></li>
                        <%})%>
                    </ul>
                  </div></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td colspan="2"><button class=" btn btn-sm btn-success" href="#">View Monthly Purchase Transaction</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="container accordianMetadataDiv my-1">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item my-1">
              <h2 class="accordion-header" id="flush-headingOne">
                <button style="background-color: #fee27f;" class="accordion-button collapsed border rounded text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="letter-spacing: 0.08rem;">
                  Items Purchased 
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="my-1 p-3 clear-fix border border-bottom">
                        <div class="dropdown">
                            Select Month
                            <button class="btn btn-success btn-sm dropdown-toggle float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <%=monthArray[month]%>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <% monthArray.forEach(array=>{%>
                                    <li><a role="button" class="dropdown-item" href="#"><%=array%></a></li>
                                <%})%>
                            </ul>
                          </div>
                    </div>
                    <table class="table table-success table-striped itemPurchasedAccordianTable">
                        <caption class="text-capitalize"  style="font-size: small;"> <span>yearly comparision of purchase of item</span><br>
                        </caption>
                        
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th colspan="2" scope="col">Item </th>
                            <th scope="col">Tunch </th>
                            <th scope="col"><%=new Date().getFullYear()%></th>
                            <th scope="col"><%=new Date().getFullYear()-1%></th>
                          </tr>
                        </thead>
                        
                        <tbody class="itemPurchasedAccordianTbody">
                            <% var productName;%>
                            <% var productTunch %>
                            <% var index = 0;%>
                            <%currentYearMonthlyPurchase.productId.forEach(data=>{%>
                                <%products.forEach(productData=>{%>
                                   <% if(JSON.stringify(productData._id)===data){%>
                                       <% productName = productData.productDesc;%>
                                       <% productTunch = productData.productTunch%>
                                    <%}%>
                                <%})%>
                                <% if(currentYearMonthlyPurchase.purchase[index]!==0 || previousYearMonthlyPurchase.purchase[index]!==0){%>
                                    <tr class="d-none">
                                        <th scope="row"><%=index+1%></th>             
                                        <td colspan="2"><%=productName%></td>
                                        <td><%=productTunch%></td>
                                        <% var cymp = currentYearMonthlyPurchase.purchase[index]/1000;%>
                                        <% var pymp = previousYearMonthlyPurchase.purchase[index]/1000%>
                                        
                                        <td class="fw-bold text-success"><%=Math.round(currentYearMonthlyPurchase.purchase[index]/1000)%></td>
                                        <td class="fw-bold text-success"><%=Math.round(previousYearMonthlyPurchase.purchase[index]/1000)%></td>                
                                                        
                                    </tr> 
                               <% } %>
                                
                                <%index++%>
                            <%})%>
                      
                        </tbody>
                    </table>
                    <div class="paginationNav d-none">
                        <nav aria-label="Page navigation example">
                            Page NO:
                            <input type="text" readonly value="1" maxlength="2" size="2" class="mb-2 border border-1 border-success rounded mx-2">
                              
                            <ul class="pagination purchase">
                              <li class="page-item"><a role="button" class="page-link previous">Previous</a></li>
                              <li class="page-item"><a role="button" class="page-link pageOne activePage">1</a></li>
                              <li class="page-item"><a role="button " class="page-link pageTwo" onclick="changeTablePage(event,'itemPurchasedAccordianTbody')">2</a></li>
                              <li class="page-item"><a role="button" class="page-link pageThree" onclick="changeTablePage(event,'itemPurchasedAccordianTbody')">3</a></li>
                              <li class="page-item"><a role="button" class="page-link next" onclick="changeTablePage(event,'itemPurchasedAccordianTbody')">Next</a></li>
                            </ul>
                          </nav>
                    </div>
                </div>
              </div>
            </div>
            <div class="accordion-item my-1">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button style="background-color: #fee27f;" class=" border rounded accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
              </div>
            </div>
            <div class="accordion-item my-1">
              <h2 class="accordion-header" id="flush-headingThree">
                <button style="background-color: #fee27f;" class="border rounded accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
          </div>
    </div>


</div>

<!---sales -->

<div class="container d-none my-3 p-3 salesTransaction">
    <div class="salesNavTab">
        <button type="button" class="btn btn-secondary btn-sm mx-2 addSalesBtn" onclick="formControl(event)">
            Add Sales Transaction
        </button>
    </div>
    <div class="addSalesDiv d-none my-2 p-2 border-1 border-secondary border">      
        <%- include('partials/addSalesForm.ejs')%>
        
    </div>
    <div class="formSubmitMsg d-none text-success fw-bold text-capitalize my-2 p-2 border-1 border-secondary border">
        <div class="formSubmitMsg-msg"></div>
        <button class="btn btn-sm btn-white text-danger m-2 p-2" onclick="uiControlOfMsgDiv(event)">Close</button>

    </div>
    <div class="saleMetadata p-2 my-2">
        <table class="table table-success metadataViewSaleTable table-striped">
            <thead>
                <tr>
                    <td scope="col">Total Sale Of The Day</td>
                    <td scope="col">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="salesDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Total Sale
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="salesDropdownMenuButton">
                                <li onclick="metadataView(event)" class="sale weekly"><a role="button" class="dropdown-item">Weekly Sale</a></li>
                                <li onclick="metadataView(event)" class="sale monthly"><a role="button" class="dropdown-item">Monthly Sale</a></li>
                                <li onclick="metadataView(event)" class="sale yearly"><a role="button" class="dropdown-item">Yearly sale</a></li>
                                <li onclick="metadataView(event)" class="sale total"><a role="button" class="dropdown-item">Total Sale</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%let saleToday=0; sales.forEach(saleData=>{let saleDate= new Date(saleData.date);let today= new Date()%>
                            <%if (parseInt(new Date().getTime()-new Date(saleData.date).getTime())/(1000*3600*24)<=1){%>
                                <%saleToday+=saleData.saleSilver%>
                            <%}%>
                            <%})%>
                            <span class="fw-bold text-success mx-2"><%=Math.round(saleToday)%></span> Grms
                    </td> 
                    <td>    
                        <% let saleWeekly=0;let saleMonthly=0;let saleYearly=0;let saleTotal=0%>
                        <%sales.forEach(saleData=>{%>
                            <%saleTotal+=saleData.saleSilver%>
                            <% let days = parseInt((new Date().getTime()-new Date(saleData.date).getTime())/(1000*3600*24))%>
                            <%if(days<8){%>
                                <%saleWeekly+=saleData.saleSilver%> <%}%>
                                <%if(days<32){%>
                                    <%saleMonthly+=saleData.saleSilver}%>
                                <%if(days<367){%>
                                    <%saleYearly+=saleData.saleSilver}%>
                            <%})%>
                           <span class="fw-bold text-success mx-2 weeklySale d-none"><%=Math.round(saleWeekly/1000)%> Kgs</span> 
                           <span class="fw-bold text-success mx-2 monthlySale d-none"><%=Math.round(saleMonthly/1000)%> Kgs</span> 
                           <span class="fw-bold text-success mx-2 yearlySale d-none"><%=Math.round(saleYearly/1000)%> Kgs</span> 
                           <span class="fw-bold text-success mx-2 totalSale"><%=Math.round(saleTotal/1000)%> Kgs</span> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-sm btn-success saleTransactionView" type="button" data-bs-toggle="collapse" data-bs-target="#viewSalesTransactionId" aria-expanded="false" aria-controls="viewSalesTransaction">
                            View Transaction
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="viewSaleTransaction my-1 p-1 container">
        <%- include('partials/viewSalesTransaction.ejs')%>
    </div>
    <div class="container my-1">
        <table class="table table-striped table-success">
            <thead>
              <tr>
                <th scope="col">Top Purchase Of The Day</th>
                <th scope="col">
                    <div class="dropdown">
                    <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <%let monthSale = new Date().getMonth()%>
                        <% let monthSaleArray = ['January','Feburay','March','April','May','June','July','August','September','October','November','December']%>
                        <%=monthSaleArray[monthSale]%>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <% monthSaleArray.forEach(array=>{%>
                            <li><a role="button" class="dropdown-item" href="#"><%=array%></a></li>
                        <%})%>
                    </ul>
                  </div></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td colspan="2"><button class=" btn btn-sm btn-success" href="#">View Monthly Purchase Transaction</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="container accordianMetadataDiv my-1">
        <div class="accordion accordion-flush" id="accordionSaleFlushExample">
            <div class="accordion-item my-1">
              <h2 class="accordion-header" id="flush-headingOneSale">
                <button style="background-color: #fee27f;" class="accordion-button collapsed border rounded text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneSale" aria-expanded="false" aria-controls="flush-collapseOneSale" style="letter-spacing: 0.08rem;">
                  Items Sale
                </button>
              </h2>
              <div id="flush-collapseOneSale" class="accordion-collapse collapse" aria-labelledby="flush-headingOneSale" data-bs-parent="#accordionSaleFlushExample">
                <div class="accordion-body">
                    <div class="my-1 p-3 clear-fix border border-bottom">
                        <div class="dropdown">
                            Select Month
                            <button class="btn btn-success btn-sm dropdown-toggle float-end" type="button" id="dropdownMenuButtonSale" data-bs-toggle="dropdown" aria-expanded="false">
                                <%=monthSaleArray[monthSale]%>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSale">
                                <% monthSaleArray.forEach(array=>{%>
                                    <li><a role="button" class="dropdown-item" href="#"><%=array%></a></li>
                                <%})%>
                            </ul>
                          </div>
                    </div>
                    <table class="table table-success table-striped itemSaleAccordianTable">
                        <caption class="text-capitalize"  style="font-size: small;"> <span>yearly comparision of sale of item</span><br>
                        </caption>
                        
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th colspan="2" scope="col">Item </th>
                            <th scope="col">Tunch </th>
                            <th scope="col"><%=new Date().getFullYear()%></th>
                            <th scope="col"><%=new Date().getFullYear()-1%></th>
                          </tr>
                        </thead>
                        
                        <tbody class="itemSaleAccordianTbody">
                            <% var productNameSale;%>
                            <% var productTunchSale %>
                            <% var index = 0;%>
                            <%currentYearMonthlySale.productId.forEach(data=>{%>
                                <%products.forEach(productData=>{%>
                                   <% if(JSON.stringify(productData._id)===data){%>
                                       <% productNameSale = productData.productDesc;%>
                                       <% productTunchSale = productData.productTunch%>
                                    <%}%>
                                <%})%>
                                <% if(currentYearMonthlySale.purchase[index]!==0 || previousYearMonthlySale.purchase[index]!==0){%>
                                    <tr class="d-none">
                                        <th scope="row"><%=index+1%></th>             
                                        <td colspan="2"><%=productNameSale%></td>
                                        <td><%=productTunchSale%></td>
                                        <% var cymp = currentYearMonthlySale.purchase[index]/1000;%>
                                        <% var pymp = previousYearMonthlySale.purchase[index]/1000%>
                                        
                                        <td class="fw-bold text-success"><%=Math.round(currentYearMonthlySale.purchase[index]/1000)%></td>
                                        <td class="fw-bold text-success"><%=Math.round(previousYearMonthlySale.purchase[index]/1000)%></td>                
                                                        
                                    </tr> 
                               <%}%>
                                
                                <%index++%>
                            <%})%>
                      
                        </tbody>
                    </table>
                    <div class="paginationNav d-none">
                        <nav aria-label="Page navigation example">
                            Page NO:
                            <input type="text" readonly value="1" maxlength="2" size="2" class="mb-2 border border-1 border-success rounded mx-2">
                              
                            <ul class="pagination sale">
                              <li class="page-item"><a role="button" class="page-link previous">Previous</a></li>
                              <li class="page-item"><a role="button" class="page-link pageOne activePage">1</a></li>
                              <li class="page-item"><a role="button " class="page-link pageTwo" onclick="changeTablePage(event,'itemSaleAccordianTbody')">2</a></li>
                              <li class="page-item"><a role="button" class="page-link pageThree" onclick="changeTablePage(event,'itemSaleAccordianTbody')">3</a></li>
                              <li class="page-item"><a role="button" class="page-link next" onclick="changeTablePage(event,'itemSaleAccordianTbody')">Next</a></li>
                            </ul>
                          </nav>
                    </div>
                </div>
              </div>
            </div>
            <div class="accordion-item my-1">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button style="background-color: #fee27f;" class=" border rounded accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
              </div>
            </div>
            <div class="accordion-item my-1">
              <h2 class="accordion-header" id="flush-headingThree">
                <button style="background-color: #fee27f;" class="border rounded accordion-button collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
          </div>
    </div>


</div>

<!--for modal -->

  <!--modal -->


<!-- Modal product list -->
<div class="modal fade" id="productListForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%- include('partials/productList.ejs')%>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add Product To List</button>
          <a class="text-capitalize text-info" style="font-size: small;" href="products/addProductsForm">Click To add product if not present in the list</span>
        </div>
      </div>
    </div>
  </div>
  
  <!--modal for product details-->
  
  <div class="modal fade" id="productDetailsModal" tabindex="-1" aria-labelledby="productDetailsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productDetailsLabel">Product Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <li class="list-group-item list-group-item-light my-2">
              Item Name: <span class="mx-2 fw-bold appendHere"></span><br>
              Item Tunch: <span class="mx-2 fw-bold appendHere"></span>
            </li>
            <button class="btn btn-sm btn-secondary p-2" type="button" data-bs-toggle="collapse" data-bs-target="#productDetailsCollapse" aria-expanded="false" aria-controls="productDetailsCollapse">
              More Info
            </button>
          
            <div class="collapse my-2" id="productDetailsCollapse">
              <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-sm btn-white text-danger removeBtn" onclick="removeProduct(event)">Remove Product</button>
        </div>
      </div>
    </div>
  </div>

  <!--view transaction details -->

  <!-- Modal -->
  <div class="modal fade" id="transactionDetailModal" tabindex="-1" aria-labelledby="transactionDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success" id="transactionDetailLabel">Purchase Details:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-2 m-1 bg-secondary">
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-secondary text-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  




<script type="text/javascript" src="/transactionJS.js"></script>
<script type="text/javascript" src="/productListJS.js"></script>
<script type="text/javascript" src="/addPurchaseFormJS.js"></script>
<script type="text/javascript" src="/addSalesFormJS.js"></script>