<div class="container my-2 border-primary border-1 border-bottom">
    <div class="row">
        <div class="col-6 p-2 border-end border-primary">
            <button class="btn btn-sm btn-success btn-active" type="button" onclick="changePage(event)">Purchase Transaction</button>
        </div>
        <div class="col-6 p-2">
            <button class="btn btn-sm btn-white btn-inactive" type="button" onclick="changePage(event)">Sales Transaction</button>
        </div>
    </div>
</div>
<div class="container">
    <button onclick="show()">show</button>
</div>

<div class="container my-3 p-3 purchaseTransaction">
    <div class="purchaseNavTab">
        <button type="button" class="btn btn-secondary btn-sm mx-2 addPurchaseBtn" onclick="purchaseFormControl(event)">
            Add Transaction
        </button>
    </div>
    <div class="addPurchaseDiv d-none my-2 p-2 border-1 border-secondary border">      
        <%- include('partials/addPurchaseForm.ejs')%>
        
    </div>
    <div class="formSubmitMsg d-none text-success fw-bold text-capitalize my-2 p-2 border-1 border-secondary border">
        <div class="formSubmitMsg-msg"></div>
        <button class="btn btn-sm btn-white text-danger m-2 p-2" onclick="uiControlOfMsgDiv(event)">Close</button>

    </div>
    <div class="purchaseMetadata p-2 my-2">
        <table class="table table-success metadataViewPurchaseTable table-striped">
            <thead>
                <tr>
                    <td scope="col">Total Purchase Of The Day</td>
                    <td scope="col">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="purchaseDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Total Purchase
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="purchaseDropdownMenuButton">
                                <li onclick="metadataView(event)" class="purchase weekly"><a role="button" class="dropdown-item">Weekly Purchase</a></li>
                                <li onclick="metadataView(event)" class="purchase monthly"><a role="button" class="dropdown-item">Monthly Purchase</a></li>
                                <li onclick="metadataView(event)" class="purchase yearly"><a role="button" class="dropdown-item">Yearly Purchase</a></li>
                                <li onclick="metadataView(event)" class="purchase total"><a role="button" class="dropdown-item">Total Purchase</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%let purchaseToday=0; purchase.forEach(purchaseData=>{let purchaseDate= new Date(purchaseData.date);let today= new Date()%>
                            <%if (parseInt(new Date().getTime()-new Date(purchaseData.date).getTime())/(1000*3600*24)<1){%>
                                <%purchaseToday+=purchaseData.purchaseSilver%>
                            <%}%>
                            <%})%>
                            <span class="fw-bold text-success mx-2"><%=purchaseToday%></span> Grms
                    </td> 
                    <td>    
                        <% let purchaseWeekly=0;let purchaseMonthly=0;let purchaseYearly=0;let purchaseTotal=0%>
                        <%purchase.forEach(purchaseData=>{%>
                            <%purchaseTotal+=purchaseData.purchaseSilver%>
                            <% let days = parseInt((new Date().getTime()-new Date(purchaseData.date).getTime())/(1000*3600*24))%>
                            <%if(days<8){%>
                                <%purchaseWeekly+=purchaseData.purchaseSilver%> <%}%>
                                <%if(days<32){%>
                                    <%purchaseMonthly+=purchaseData.purchaseSilver}%>
                                <%if(days<367){%>
                                    <%purchaseYearly+=purchaseData.purchaseSilver}%>
                            <%})%>
                           <span class="fw-bold text-success mx-2 weeklyPurchase d-none"><%=purchaseWeekly/1000%> Kgs</span> 
                           <span class="fw-bold text-success mx-2 monthlyPurchase d-none"><%=purchaseMonthly/1000%> Kgs</span> 
                           <span class="fw-bold text-success mx-2 yearlyPurchase d-none"><%=purchaseYearly/1000%> Kgs</span> 
                           <span class="fw-bold text-success mx-2 totalPurchase"><%=purchaseTotal/1000%> Kgs</span> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-sm btn-success" type="button">
                            View Transaction
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="container my-3 p-3 salesTransaction d-none">
    <div class="purchaseNavTab">
        <button type="button" class="btn btn-secondary btn-sm mx-2 addSalesTransaction">Add Transaction</button>
    </div>
    <div class="purchaseMetadata p-2 my-2">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <td scope="col">Total Sale Of The Day</td>
                    <td scope="col">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="salesDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Total Sales
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="salesDropdownMenuButton">
                                <li onclick="metadataView(event)" class="sales"><a role="button" class="dropdown-item activeName">Weekly Sales</a></li>
                                <li onclick="metadataView(event)" class="sales"><a role="button" class="dropdown-item">Monthly Sales</a></li>
                                <li onclick="metadataView(event)" class="sales"><a role="button" class="dropdown-item">Yearly Sales</a></li>
                                <li onclick="metadataView(event)" class="sales"><a role="button" class="dropdown-item">Total Sales</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-sm btn-success">View Transaction</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




<script type="text/javascript" src="/transactionJS.js"></script>
<script type="text/javascript" src="/productListJS.js"></script>
<script type="text/javascript" src="/addPurchaseFormJS.js"></script>